main.container {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

table {
  margin-top: 2rem;
}

i.user-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
  margin-left: 0.5em;
  position: relative;

  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
}

i.user-icon:before, i.user-icon:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 50%;
  top: 0.2em;
  width: 0.6em;
  height: 0.6em;
  margin-left: -0.3em;

  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
}

i.user-icon:after {
  width: 1em;
  height: 1em;
  top: 0.8em;
  margin-left: -0.5em;
}

section.page, section.tab-pane, section.layout {
  display: none;
}
section.page.active, section.tab-pane.active, section.layout.active{
  display: block;
}

.nav-tabs a.nav-link {
  cursor: pointer;
}

.auto-complete {
  position: absolute;
  z-index: 100;
  width: calc(100% - 30px);
}

section.loading, section.loaded, section.error {
  position: relative;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}
section.error {
  background-color: rgba(255,0,0,0.1);
  box-shadow: 0px 0px 3vw 3vw rgba(255,0,0,0.1);
}
section.loading:before, section.loaded:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid rgba(255,0,0,0.1);
  border-left: 3px solid rgba(255,0,0,0.5);
  animation: loading-anim 1.1s infinite linear;
  transition: opacity 1s ease;
  opacity: 1;
}
section.loaded:before {
  opacity: 0;
  transition: opacity 0.1s ease;
}
@keyframes loading-anim {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}
