@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-600;
}

th {
    text-align: left;
    font-size: 110%;
    font-weight: bolder;
}

.vertical-form {
    @apply my-4 flex;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], input[type=date], select {
    @apply leading-5 flex-1 py-2 px-4 block border border-gray-300 rounded-md w-full;
}

input[type=text]:disabled, input[type=email]:disabled, input[type=password]:disabled, input[type=number]:disabled {
    @apply bg-gray-200;
}

input:focus {
    outline: none;
    @apply border-gray-600;
}

.page-title {
    @apply text-3xl mb-6
}

.page-subtitle {
    @apply text-2xl mb-6
}

.btn-primary {
    @apply bg-blue-400 hover:bg-blue-500 text-white font-medium rounded-md px-3 py-2;
}

.btn-submit {
    @apply bg-blue-400 hover:bg-blue-500 disabled:opacity-50 text-white font-medium rounded-md px-3 py-2;

}

.form-select {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     -webkit-print-color-adjust: exact;
     color-adjust: exact;
     background-repeat: no-repeat;
     background-color: #fff;
     border-color: #d1d5db;
     border-width: 1px;
     border-radius: 0.375rem;
     padding-top: 0.5rem;
     padding-right: 2.5rem;
     padding-bottom: 0.5rem;
     padding-left: 0.75rem;
     font-size: 1rem;
     line-height: 1.5rem;
     background-position: right 0.5rem center;
     background-size: 1.5em 1.5em;
 }

.form-select:focus {
    outline: none;
    --ring-offset-shadow: 0 0 0 var(--ring-offset-width, 0) var(--ring-offset-color, #fff);
    --ring-shadow: 0 0 0 calc(1px + var(--ring-offset-width, 0px)) var(--ring-color, #2563eb);
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), 0 0 #0000;
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--box-shadow, 0 0 #0000);
    border-color: #2563eb;
}

