@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-600 bg-gray-200;
    font-family: 'Poppins', sans-serif;
}

.main-nav {
    clip-path: polygon(0% 0%, 120% 0%, 120% 100%, 0% 100%);
}

h1 {
    @apply text-gray-700 font-bold text-2xl;
}

h2 {
    @apply text-gray-900 font-semibold text-lg;
}

th {
    text-align: left;
    @apply text-gray-600 py-2 text-sm font-semibold;
}

td {
    @apply py-2 text-sm;
}

.vertical-form {
    @apply my-4 flex;
}

label {
    @apply text-gray-600 text-sm font-semibold block mb-1;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.custom-select {
    position: relative;
}

.custom-select svg {
    top: 3px;
    right: 8px;
    color: #444;
    content: '';
    display: block;
    position: absolute;
    font-family: initial;
    width: 35px;
}

textarea, input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], input[type=date], select {
    @apply w-full bg-white border rounded-lg px-4 py-2 shadow-sm;
}

textarea {
    @apply text-sm;
}

input.alt, select.alt, textarea.alt {
    @apply bg-gray-300;
}

input[type=text]:disabled, input[type=email]:disabled, input[type=password]:disabled, input[type=number]:disabled, input[type=date]:disabled, textarea:disabled {
    @apply bg-gray-200;
}

input:focus {
    outline: none;
    @apply ring-2;
}

.page-title {
    @apply text-3xl mb-6
}

.page-subtitle {
    @apply text-2xl mb-6
}

.bg-nuts {
    background-color: #D15949;
}

.btn {
    @apply inline-flex items-center rounded-lg font-normal text-sm py-3 px-8 shadow-lg transition-all text-center justify-center;
}

.btn-sm {
    @apply rounded-lg text-sm py-2 px-6 shadow-md;
}

.btn-link {
    @apply bg-transparent shadow-none p-0 hover:text-black;
}

.btn-primary {
    @apply text-white;
    background-color: #D15949;
}

.btn-primary:not(.btn-loading):hover {
    background-color: #984435;
}

.btn-secondary {
    @apply text-black bg-white hover:bg-gray-100;
}

.btn-loading {
    @apply opacity-70 relative overflow-hidden;
}

.btn-loading:after {
    content: '';
    @apply absolute top-0 left-0 h-2 w-full opacity-0;
    animation: progress-bar 4s ease-in-out;
}

.btn-primary.btn-loading:after {
    background-color: #984435;
}

@keyframes progress-bar {
    0% {
        width: 20%;
        opacity: 100;
    }

    100% {
        width: 100%;
        opacity: 100;
    }
}
