@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-600 bg-gray-200;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    @apply text-gray-900 font-bold text-xl;
}

h2 {
    @apply text-gray-900 font-semibold text-lg;
}

th {
    text-align: left;
    @apply text-gray-600 py-2 text-sm font-semibold;
}

td {
    @apply py-2 text-sm;
}

.vertical-form {
    @apply my-4 flex;
}

label {
    @apply text-gray-600 text-sm font-semibold block mb-1;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.custom-select {
    position: relative;
}

.custom-select svg {
    top: 3px;
    right: 8px;
    color: #444;
    content: '';
    display: block;
    position: absolute;
    font-family: initial;
    width: 35px;
}

input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], input[type=date], select {
    @apply w-full bg-white rounded-lg px-4 py-2;
}

input.alt, select.alt {
    @apply bg-gray-300;
}

input[type=text]:disabled, input[type=email]:disabled, input[type=password]:disabled, input[type=number]:disabled {
    @apply bg-gray-200;
}

input:focus {
    outline: none;
    @apply ring-2;
}

.page-title {
    @apply text-3xl mb-6
}

.page-subtitle {
    @apply text-2xl mb-6
}

.btn {
    @apply rounded-lg font-normal text-sm py-3 px-8 shadow-lg;
}

.btn-primary {
    @apply text-white bg-blue-700;
}

.btn-secondary {
    @apply text-white bg-gray-900;
}

.form-select {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     -webkit-print-color-adjust: exact;
     color-adjust: exact;
     background-repeat: no-repeat;
     background-color: #fff;
     border-color: #d1d5db;
     border-width: 1px;
     border-radius: 0.375rem;
     padding-top: 0.5rem;
     padding-right: 2.5rem;
     padding-bottom: 0.5rem;
     padding-left: 0.75rem;
     font-size: 1rem;
     line-height: 1.5rem;
     background-position: right 0.5rem center;
     background-size: 1.5em 1.5em;
 }

.form-select:focus {
    outline: none;
    --ring-offset-shadow: 0 0 0 var(--ring-offset-width, 0) var(--ring-offset-color, #fff);
    --ring-shadow: 0 0 0 calc(1px + var(--ring-offset-width, 0px)) var(--ring-color, #2563eb);
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), 0 0 #0000;
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--box-shadow, 0 0 #0000);
    border-color: #2563eb;
}

